{{define "main"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="/assets/hankoWebAuthn.js"></script>
        <script src="/assets/app.js"></script>
        <script>
            app.run();
        </script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap">
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
    <header>
        <img class="logo" src="/assets/hanko-logo.png"/>
    </header>
    <nav>
        <ul>
            <li><a href="/show_registration/">Registration</a></li>
            <li><a href="/show_authentication/">Authentication</a></li>
            <li><a href="/show_deregistration/">De-Registration</a></li>
        </ul>
    </nav>
    <main>
        <section>
            {{template "content" .}}
        </section>
        <section>
            <table>
                <tr>
                    <th>Request Id:</th>
                    <td id="request_id-text"></td>
                </tr>
                <tr>
                    <th>Operation:</th>
                    <td id="operation-text"></td>
                </tr>
                <tr>
                    <th>Valid Until:</th>
                    <td id="valid_until-text"></td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td id="status-text"></td>
                </tr>
            </table>
        </section>
        <section id="error-text"></section>
        <section>Current UserId: {{.UserId}}</section>
    </main>
    <footer>
        <section>
            <a href="https://docs.hanko.io/#/quickstart/webauthn/quick-start-webauthn">WebAuthn Quick Start Guide</a>
        </section>
    </footer>
    </body>
    </html>
{{end}}